In [128]:
import pandas as pd
import matplotlib.pyplot as plt 
import re
import textdistance
import numpy as np
%matplotlib inline

In [125]:
# !pip install textdistance

Looking in indexes: http://as-pypi-gcs
Collecting textdistance
  Downloading https://files.pythonhosted.org/packages/3f/18/31397b687f50ffae65469175f07faa68f288e27fcd8716276004c42e5637/textdistance-4.1.5-py3-none-any.whl
Installing collected packages: textdistance
Successfully installed textdistance-4.1.5

In [2]:
ee = pd.read_csv('../../data/processed/elevator_to_line_dir_station.csv')

In [41]:
ee[ee.station.str.contains('34 St - Penn')]

     Unnamed: 0 equipment_id line direction       station
105          40        EL214    1     north  34 St - Penn
106         247        EL215    3     south  34 St - Penn
107         665        EL215    2     south  34 St - Penn
108         456        EL215    2     north  34 St - Penn
109          38        EL215    3     north  34 St - Penn
110          39        EL216    1     south  34 St - Penn
129          37        EL225    E     north  34 St - Penn
130         246        EL225    C     north  34 St - Penn
131         252        EL226    C     north  34 St - Penn
132          43        EL226    E     north  34 St - Penn
133          41        EL227    A     north  34 St - Penn
134         250        EL227    A     south  34 St - Penn
135         460        EL228    C     north  34 St - Penn
136         669        EL228    C     south  34 St - Penn
137         878        EL228    E     north  34 St - Penn
138        1087        EL228    E     south  34 St - Penn
139         251        EL228    A     south  34 St - Penn
140          42        EL228    A     north  34 St - Penn

In [350]:
ee.direction.unique()

array(['south', 'north', 'manhattan', 'wakefield 241 st', 'woodlawn',
       'norwood 205 st', 'jamaica', 'bay ridge',
       'flatbush av brooklyn college', '637N, 637S',
       'brighton beach, coney island, bay ridge', 'coney island',
       'coney island, brighton beach', 'jamaica center',
       'flushing main st', 'flushing', 'jamaica, forest hills',
       'manhattan-bound', 'far rockaway', 'brighton beach/coney island'],
      dtype=object)

In [4]:
stops = pd.read_csv('../../data/external/station_connections/nyctsubwaystops_100627_curcleaned.csv')

In [5]:
stops.head()

,the_geom,zone_id,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,cartodb_id,stop_url,location_t,parent_sta,name_cur,routes_wkd,routes_off,routes_all
0,0101000020E6100000C9022670EB7B52C0CEF9298E0369...,0,302,0,145TH STREET-LENOX,0,40.820421,-73.936245,94,0,0,0,145TH STREET,3,3,3
1,0101000020E6100000FBCE2F4AD07D52C08DC877297557...,0,A44,0,CLINTON - WASHINGTON,0,40.683263,-73.965838,212,0,0,0,CLINTON - WASHINGTON,C,"A, C","A, C"
2,0101000020E610000010AE80423D7F52C0DEC5FB71FB5B...,0,F15,0,DELANCY STREET,0,40.718611,-73.988114,299,0,0,0,DELANCY STREET,F,F,F
3,0101000020E6100000766F4562827952C04704E3E0D271...,0,101,0,242ND STREET-BWAY (Van Cortland Park),0,40.889248,-73.898583,1,0,0,0,242ND STREET - VAN CORTLAND PARK,1,1,1
4,0101000020E6100000E6EB32FCA77952C076A73B4F3C71...,0,103,0,238TH STREET-BWAY,0,40.884653,-73.900878,2,0,0,0,238TH STREET,1,1,1

In [23]:
stops.dtypes

the_geom       object
zone_id         int64
stop_id        object
stop_code       int64
stop_name      object
stop_desc       int64
stop_lat      float64
stop_lon      float64
cartodb_id      int64
stop_url        int64
location_t      int64
parent_sta      int64
name_cur       object
routes_wkd     object
routes_off     object
routes_all     object
dtype: object

In [28]:
stops[stops.stop_id.str.rfind('S',0,1) != -1]

,the_geom,zone_id,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,cartodb_id,stop_url,location_t,parent_sta,name_cur,routes_wkd,routes_off,routes_all
61,0101000020E6100000F6CFD380418F52C0F9BCE2A94742...,0,S12,0,NASSAU,0,40.517812,-74.238373,491,0,0,0,NASSAU,SI,SI,SI
469,0101000020E6100000906802452C7D52C0EBE40CC51D57...,0,S01,0,FRANKLIN - FULTON,0,40.680596,-73.955827,469,0,0,0,FRANKLIN - FULTON,FS,FS,FS
470,0101000020E610000057772CB6497D52C0D420CCED5E56...,0,S03,0,PARK PLACE,0,40.674772,-73.957624,470,0,0,0,PARK PLACE,FS,FS,FS
471,0101000020E61000007FF62345647D52C0200DA7CCCD55...,0,S04,0,BOTANIC GARDENS - EASTERN PKWY,0,40.670343,-73.959245,471,0,0,0,BOTANIC GARDENS - EASTERN PKWY,FS,FS,FS
472,0101000020E610000014252191B68452C0C56E9F556652...,0,S31,0,SAINT GEORGE TERMINAL,0,40.643748,-74.073643,472,0,0,0,SAINT GEORGE TERMINAL,SI,SI,SI
473,0101000020E61000002766BD18CA8452C0251C7A8B8751...,0,S30,0,TOMPKINSVILLE,0,40.636949,-74.074835,473,0,0,0,TOMPKINSVILLE,SI,SI,SI
474,0101000020E6100000BAF94674CF8452C07CD5CA845F50...,0,S29,0,STAPLETON,0,40.627915,-74.075162,474,0,0,0,STAPLETON,SI,SI,SI
475,0101000020E61000009EB7B1D9918452C014B18861874F...,0,S28,0,CLIFTON,0,40.621319,-74.071402,475,0,0,0,CLIFTON,SI,SI,SI
476,0101000020E610000033C170AE618552C0AF5417F0324D...,0,S27,0,GRASMERE,0,40.603117,-74.084087,476,0,0,0,GRASMERE,SI,SI,SI
477,0101000020E6100000E2ADF36F978552C0583332C85D4C...,0,S26,0,OLD TOWN,0,40.596612,-74.087368,477,0,0,0,OLD TOWN,SI,SI,SI
478,0101000020E610000040DEAB56268652C023A46E675F4B...,0,S25,0,DONGAN HILLS,0,40.588849,-74.096090,478,0,0,0,DONGAN HILLS,SI,SI,SI
479,0101000020E6100000C79BFC169D8652C0B69E211CB34A...,0,S24,0,JEFFERSON AVENUE,0,40.583591,-74.103338,479,0,0,0,JEFFERSON AVENUE,SI,SI,SI
480,0101000020E6100000620FED63058752C0AA436E861B4A...,0,S23,0,GRANT CITY,0,40.578965,-74.109704,480,0,0,0,GRANT CITY,SI,SI,SI
481,0101000020E6100000E8305F5E808752C07E74EACA6749...,0,S22,0,NEW DORP,0,40.573480,-74.117210,481,0,0,0,NEW DORP,SI,SI,SI
482,0101000020E61000002B357BA0158852C03F5244865548...,0,S21,0,OAKWOOD HEIGHTS,0,40.565110,-74.126320,482,0,0,0,OAKWOOD HEIGHTS,SI,SI,SI
483,0101000020E6100000FBE59315C38852C048BF7D1D3847...,0,S20,0,BAY TERRACE,0,40.556400,-74.136907,483,0,0,0,BAY TERRACE,SI,SI,SI
484,0101000020E61000006A696E85B08952C04CC5C6BC8E46...,0,S19,0,GREAT KILLS,0,40.551231,-74.151399,484,0,0,0,GREAT KILLS,SI,SI,SI
485,0101000020E6100000C6F99B50888A52C0382F4E7CB545...,0,S18,0,ELTINGVILLE,0,40.544601,-74.164570,485,0,0,0,ELTINGVILLE,SI,SI,SI
486,0101000020E6100000D6A546E8678B52C0E96514CB2D45...,0,S17,0,ANNADALE,0,40.540460,-74.178217,486,0,0,0,ANNADALE,SI,SI,SI
487,0101000020E61000006B64575A468C52C0DD5CFC6D4F44...,0,S16,0,HUGUENOT,0,40.533674,-74.191794,487,0,0,0,HUGUENOT,SI,SI,SI
488,0101000020E6100000D8463CD9CD8C52C0D76839D04343...,0,S15,0,PRINCES BAY,0,40.525507,-74.200064,488,0,0,0,PRINCES BAY,SI,SI,SI
489,0101000020E610000008228B34F18D52C03B8DB454DE42...,0,S14,0,PLEASANT PLAINS,0,40.522410,-74.217847,489,0,0,0,PLEASANT PLAINS,SI,SI,SI
490,0101000020E61000000E4B033FAA8E52C06E7EC3448342...,0,S13,0,RICHMOND VALLEY,0,40.519631,-74.229141,490,0,0,0,RICHMOND VALLEY,SI,SI,SI
491,0101000020E61000002AFF5A5EB98F52C0B0A9F3A8F841...,0,S10,0,ATLANTIC,0,40.515401,-74.245689,492,0,0,0,ATLANTIC,SI,SI,SI
492,0101000020E610000084B70721209052C077483140A241...,0,S09,0,TOTTENVILLE,0,40.512764,-74.251961,493,0,0,0,TOTTENVILLE,SI,SI,SI

In [19]:
stops[stops.stop_name.str.contains('34TH')].head()

,the_geom,zone_id,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,cartodb_id,stop_url,location_t,parent_sta,name_cur,routes_wkd,routes_off,routes_all
28,0101000020E610000033DE567A6D7F52C09666F3380C60...,0,128,0,34TH ST. - PENN STA.,0,40.750373,-73.991057,26,0,0,0,34TH ST - PENN STA,"1, 2, 3","1, 2, 3","1, 2, 3"
203,0101000020E61000000249D8B7937F52C05D1ABFF04A60...,0,A28,0,34TH ST - PENN STATION,0,40.752287,-73.993391,200,0,0,0,34TH ST - PENN STATION,"A, C, E","A, C, E","A, C, E"
263,0101000020E610000025CFF57D387F52C04C18CDCAF65F...,0,D17,0,34TH STREET - HERALD SQ,0,40.749719,-73.987823,262,0,0,0,34TH STREET - HERALD SQ,"B, D, F, M","B, D, F, M","B, D, F, M"
442,0101000020E61000005305A3923A7F52C09694BBCFF15F...,0,R17,0,34TH STREET - HERALD SQ,0,40.749567,-73.987950,442,0,0,0,34TH STREET - HERALD SQ,"N, Q, R","N, Q, R","N, Q, R"

In [212]:
routes

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,1,MTA NYCT,1,Broadway - 7 Avenue Local,Trains operate between 242 St in the Bronx and...,1,http://web.mta.info/nyct/service/pdf/t1cur.pdf,EE352E,NaN
1,2,MTA NYCT,2,7 Avenue Express,"Trains operate between Wakefield-241 St, Bronx...",1,http://web.mta.info/nyct/service/pdf/t2cur.pdf,EE352E,
2,3,MTA NYCT,3,7 Avenue Express,"Trains operate between 148 St, 7 Av, Manhattan...",1,http://web.mta.info/nyct/service/pdf/t3cur.pdf,EE352E,NaN
3,4,MTA NYCT,4,Lexington Avenue Express,Trains operate daily between Woodlawn/Jerome A...,1,http://web.mta.info/nyct/service/pdf/t4cur.pdf,00933C,NaN
4,5,MTA NYCT,5,Lexington Avenue Express,"Weekdays daytime, most trains operate between ...",1,http://web.mta.info/nyct/service/pdf/t5cur.pdf,00933C,NaN
5,5X,MTA NYCT,5X,Lexington Avenue Express,"Weekdays daytime, most trains operate between ...",1,http://web.mta.info/nyct/service/pdf/t5cur.pdf,00933C,NaN
6,6,MTA NYCT,6,Lexington Avenue Local,Local trains operate between Pelham Bay Park/B...,1,http://web.mta.info/nyct/service/pdf/t6cur.pdf,00933C,NaN
7,6X,MTA NYCT,6X,Pelham Bay Park Express,Express trains operate between Pelham Bay Park...,1,http://web.mta.info/nyct/service/pdf/t6cur.pdf,00A65C,NaN
8,7,MTA NYCT,7,Flushing Local,"Trains operate between Main St-Flushing, Queen...",1,http://web.mta.info/nyct/service/pdf/t7cur.pdf,B933AD,NaN
9,7X,MTA NYCT,7X,Flushing Express,"Trains operate between Main St-Flushing, Queen...",1,http://web.mta.info/nyct/service/pdf/t7cur.pdf,B933AD,NaN
10,GS,MTA NYCT,S,42 St Shuttle,Operates in Manhattan between Grand Central an...,1,http://web.mta.info/nyct/service/pdf/t0cur.pdf,6D6E71,NaN
11,A,MTA NYCT,A,8 Avenue Express,"Trains operate between Inwood-207 St, Manhatta...",1,http://web.mta.info/nyct/service/pdf/tacur.pdf,2850AD,FFFFFF
12,B,MTA NYCT,B,6 Avenue Express,"Trains operate, weekdays only, between 145 St,...",1,http://web.mta.info/nyct/service/pdf/tbcur.pdf,FF6319,NaN
13,C,MTA NYCT,C,8 Avenue Local,"Trains operate between 168 St, Manhattan, and ...",1,http://web.mta.info/nyct/service/pdf/tccur.pdf,2850AD,FFFFFF
14,D,MTA NYCT,D,6 Avenue Express,"Trains operate, at all times, from 205 Street,...",1,http://web.mta.info/nyct/service/pdf/tdcur.pdf,FF6319,NaN
15,E,MTA NYCT,E,8 Avenue Local,Trains operate between Jamaica Center (Parsons...,1,http://web.mta.info/nyct/service/pdf/tecur.pdf,2850AD,FFFFFF
16,F,MTA NYCT,F,Queens Blvd Express/ 6 Av Local,Trains operate at all times between Jamaica-17...,1,http://web.mta.info/nyct/service/pdf/tfcur.pdf,FF6319,NaN
17,FX,MTA NYCT,FX,Brooklyn F Express,Trains operate rush hour only between Jamaica-...,1,http://web.mta.info/nyct/service/pdf/tfcur.pdf,FF6319,NaN
18,FS,MTA NYCT,S,Franklin Avenue Shuttle,Train provides full time connecting service be...,1,http://web.mta.info/nyct/service/pdf/tscur.pdf,NaN,NaN
19,G,MTA NYCT,G,Brooklyn-Queens Crosstown,"Trains operate between Court Square, Queens an...",1,http://web.mta.info/nyct/service/pdf/tgcur.pdf,6CBE45,NaN
20,J,MTA NYCT,J,Nassau St Local,Trains operate weekdays between Jamaica Center...,1,http://web.mta.info/nyct/service/pdf/tjcur.pdf,996633,NaN
21,L,MTA NYCT,L,14 St-Canarsie Local,"Trains operate between 8 Av/14 St, Manhattan, ...",1,http://web.mta.info/nyct/service/pdf/tlcur.pdf,A7A9AC,NaN
22,M,MTA NYCT,M,Queens Blvd Local/6 Av Local,Trains operate between Middle Village-Metropol...,1,http://web.mta.info/nyct/service/pdf/tmcur.pdf,FF6319,NaN
23,N,MTA NYCT,N,Broadway Local,"Trains operate from Astoria-Ditmars Boulevard,...",1,http://web.mta.info/nyct/service/pdf/tncur.pdf,FCCC0A,NaN
24,Q,MTA NYCT,Q,Broadway Express,"Trains operate between 96 St-2 Av, Manhattan, ...",1,http://web.mta.info/nyct/service/pdf/tqcur.pdf,FCCC0A,NaN
25,R,MTA NYCT,R,Broadway Local,Trains operate local between Forest Hills-71 A...,1,http://web.mta.info/nyct/service/pdf/trcur.pdf,FCCC0A,NaN
26,H,MTA NYCT,S,Rockaway Park Shuttle,Service operates at all times between Broad Ch...,1,http://web.mta.info/nyct/service/pdf/thcur.pdf,NaN,NaN
27,W,MTA NYCT,W,Broadway Local,"Trains operate from Astoria-Ditmars Boulevard,...",1,http://web.mta.info/nyct/service/pdf/twcur.pdf,FCCC0A,NaN
28,Z,MTA NYCT,Z,Nassau St Express,Trains operate weekday rush hours only. During...,1,http://web.mta.info/nyct/service/pdf/tjcur.pdf,996633,NaN
29,SI,MTA NYCT,SIR,Staten Island Railway,Service runs 24 hours a day between the St Geo...,2,http://web.mta.info/nyct/service/pdf/sircur.pdf,NaN,NaN

In [214]:
trips[trips.route_id == 'W']

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
16420,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_037300_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16421,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_039300_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16422,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_040300_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16423,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_041300_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16424,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_042300_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16425,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_042350_N..N70R,Astoria - Ditmars Blvd,0,NaN,NaN
16426,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_042600_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16427,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_043300_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16428,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_044300_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16429,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_044350_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16430,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_045200_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16431,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_045450_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16432,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_046000_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16433,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_046300_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16434,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_047300_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16435,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_047350_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16436,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_048100_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16437,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_048300_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16438,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_049200_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16439,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_049200_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16440,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_049900_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16441,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_050200_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16442,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_050600_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16443,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_051300_N..S70R,86 St,1,NaN,NaN
16444,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_051400_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16445,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_051900_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16446,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_052000_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16447,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_052900_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16448,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_053200_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16449,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_053900_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
...,...,...,...,...,...,...,...
16577,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_116800_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16578,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_116900_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16579,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_117850_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16580,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_117850_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16581,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_118800_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16582,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_119000_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16583,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_119600_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16584,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_119950_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16585,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_120700_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16586,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_120900_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16587,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_121750_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16588,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_121900_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16589,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_122600_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16590,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_122850_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16591,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_123600_N..S70R,86 St,1,NaN,NaN
16592,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_123750_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16593,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_124600_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16594,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_124900_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16595,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_125600_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16596,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_125900_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16597,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_126600_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16598,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_126950_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16599,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_127600_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16600,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_128050_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16601,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_128600_N..S72R,Whitehall St - South Ferry,1,NaN,NaN
16602,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_129200_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16603,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_130350_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16604,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_131150_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16605,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_132250_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN
16606,W,BFA19GEN-N093-Weekday-00,BFA19GEN-N093-Weekday-00_133400_N..N72R,Astoria - Ditmars Blvd,0,NaN,NaN

In [ ]:
'''
Subset routes_wkd to contain line, fuzzy match station name (to upper) with stop_name and name_cur
'''

In [228]:
stops_new = pd.read_csv('../../data/raw/google_transit/stops.txt')

In [229]:
stops_new.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,101,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,1,NaN
1,101N,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
2,101S,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
3,103,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,1,NaN
4,103N,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103

In [230]:
stops_new[stops_new.stop_name == '30 Av']

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
1314,R04,NaN,30 Av,NaN,40.766779,-73.921479,NaN,NaN,1,NaN
1315,R04N,NaN,30 Av,NaN,40.766779,-73.921479,NaN,NaN,0,R04
1316,R04S,NaN,30 Av,NaN,40.766779,-73.921479,NaN,NaN,0,R04

In [231]:
platforms = stops_new[stops_new.location_type == 0]

In [232]:
platforms.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
1,101N,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
2,101S,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
4,103N,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103
5,103S,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103
7,104N,NaN,231 St,NaN,40.878856,-73.904834,NaN,NaN,0,104

In [233]:
platforms[platforms.stop_name.str.contains('34 St - Penn Station')]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
76,128N,NaN,34 St - Penn Station,NaN,40.750373,-73.991057,NaN,NaN,0,128
77,128S,NaN,34 St - Penn Station,NaN,40.750373,-73.991057,NaN,NaN,0,128
601,A28N,NaN,34 St - Penn Station,NaN,40.752287,-73.993391,NaN,NaN,0,A28
602,A28S,NaN,34 St - Penn Station,NaN,40.752287,-73.993391,NaN,NaN,0,A28

In [234]:
stop_times = pd.read_csv('../../data/raw/google_transit/stop_times.txt')

In [65]:
stop_times['line'] = [x[x.find('..')-1:x.find('..')] for x in stop_times.trip_id]

In [238]:
weekday = stop_times[stop_times.trip_id.str.contains('Weekday')]

In [248]:
routes_subset = routes[(routes.route_id.str.len() == 1) & (routes.route_id != 'H')]

In [239]:
trips.head()

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
0,1,AFA19GEN-1037-Sunday-00,AFA19GEN-1037-Sunday-00_000600_1..S03R,South Ferry,1,NaN,1..S03R
1,1,AFA19GEN-1037-Sunday-00,AFA19GEN-1037-Sunday-00_002600_1..S03R,South Ferry,1,NaN,1..S03R
2,1,AFA19GEN-1037-Sunday-00,AFA19GEN-1037-Sunday-00_004600_1..S03R,South Ferry,1,NaN,1..S03R
3,1,AFA19GEN-1037-Sunday-00,AFA19GEN-1037-Sunday-00_006600_1..S03R,South Ferry,1,NaN,1..S03R
4,1,AFA19GEN-1037-Sunday-00,AFA19GEN-1037-Sunday-00_007200_1..N03R,Van Cortlandt Park - 242 St,0,NaN,1..N03R

In [249]:
weekday = weekday.merge(trips[trips.route_id.isin(routes_subset.route_id)][['trip_id','route_id']],on="trip_id")

In [251]:
unique_stop_ids = pd.DataFrame(weekday.stop_id.unique(),columns=['stop_id'])

In [252]:
unique_stop_ids['routes_wkd'] = [''.join(weekday[weekday.stop_id == x]['route_id'].unique()) for x in unique_stop_ids.stop_id]

In [253]:
platforms = platforms.merge(unique_stop_ids,on='stop_id')

In [254]:
platforms.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,routes_wkd
0,101N,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101,1
1,101S,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101,1
2,103N,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103,1
3,103S,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103,1
4,104N,NaN,231 St,NaN,40.878856,-73.904834,NaN,NaN,0,104,1

In [268]:
ee = pd.read_csv('../../data/processed/elevator_to_line_dir_station.csv')

In [269]:
ee['stop_ids'] = ''

In [270]:
for index, row in ee.iterrows():
    if row.stop_ids == '':
        subset = platforms[platforms.routes_wkd.str.contains(row.line)]
        if subset.shape[0] > 0:
            subset_stop_names = pd.DataFrame(subset.stop_name.unique(),columns=['stop_name'])
            name_dist = [max(textdistance.jaro_winkler(row.station,y),textdistance.jaccard(row.station,y)) for y in subset_stop_names.stop_name]
                
            matched_station_name = subset_stop_names.iloc[np.argmax(name_dist),0]
            matched_stop_ids = subset[subset.stop_name == matched_station_name][['stop_id']]
            score = max(name_dist)
            if score > 0.79:
                ee.iloc[index,5] = ', '.join(matched_stop_ids.stop_id)
                print('{} : {} - {}'.format(row.station,matched_station_name,score))

191 St : 191 St - 1
191 St : 191 St - 1
Pelham Bay Park : Pelham Bay Park - 1
175 St : 175 St - 1
125 St : 125 St - 1
125 St : 125 St - 1
125 St : 125 St - 1
125 St : 125 St - 1
125 St : 125 St - 1
125 St : 125 St - 1
Simpson St : Simpson St - 1
Simpson St : Simpson St - 1
Simpson St : Simpson St - 1
Simpson St : Simpson St - 1
149 St - 3 Av : 3 Av - 149 St - 1.0
149 St - 3 Av : 3 Av - 149 St - 1.0
149 St - 3 Av : 3 Av - 149 St - 1.0
149 St - 3 Av : 3 Av - 149 St - 1.0
161 St - Yankee Stadium : 161 St - Yankee Stadium - 1
161 St - Yankee Stadium : 161 St - Yankee Stadium - 1
161 St - Yankee Stadium : 161 St - Yankee Stadium - 1
161 St - Yankee Stadium : 161 St - Yankee Stadium - 1
161 St - Yankee Stadium : 161 St - Yankee Stadium - 1
161 St - Yankee Stadium : 161 St - Yankee Stadium - 1
Pelham Pkwy : Pelham Pkwy - 1
Pelham Pkwy : Pelham Pkwy - 1
Pelham Pkwy : Pelham Pkwy - 1
Pelham Pkwy : Pelham Pkwy - 1
168 St : 168 St - 1
168 St : 168 St - 1
168 St : 168 St - 1
168 St : 168 St - 1
125 St : 125 St - 1
125 St : 125 St - 1
125 St : 125 St - 1
125 St : 125 St - 1
125 St : 125 St - 1
125 St : 125 St - 1
125 St : 125 St - 1
125 St : 125 St - 1
96 St : 96 St - 1
96 St : 96 St - 1
96 St : 96 St - 1
96 St : 96 St - 1
96 St : 96 St - 1
96 St : 96 St - 1
207 St - Inwood : Inwood - 207 St - 1.0
207 St - Inwood : Inwood - 207 St - 1.0
East 180 St : E 180 St - 0.8056818181818183
East 180 St : E 180 St - 0.8056818181818183
East 180 St : E 180 St - 0.8056818181818183
East 180 St : E 180 St - 0.8056818181818183
Cortlandt St : Cortlandt St - 1
Cortlandt St : Cortlandt St - 1
Dyckman St : Dyckman St - 1
135 St : 135 St - 1
135 St : 135 St - 1
135 St : 135 St - 1
135 St : 135 St - 1
Gun Hill Rd : Gun Hill Rd - 1
Gun Hill Rd : Gun Hill Rd - 1
Gun Hill Rd : Gun Hill Rd - 1
Gun Hill Rd : Gun Hill Rd - 1
231 St : 231 St - 1
231 St : 231 St - 1
Fordham Rd : Fordham Rd - 1
Fordham Rd : Fordham Rd - 1
Kingsbridge Road : Kingsbridge Rd - 0.975
Kingsbridge Road : Kingsbridge Rd - 0.975
Kingsbridge Road : Kingsbridge Rd - 0.975
Kingsbridge Road : Kingsbridge Rd - 0.975
233 St : 233 St - 1
233 St : 233 St - 1
233 St : 233 St - 1
233 St : 233 St - 1
Hunts Point : Hunts Point Av - 0.9571428571428571
Hunts Point : Hunts Point Av - 0.9571428571428571
51 St : 51 St - 1
51 St : 51 St - 1
42 St - Grand Central : Grand Central - 42 St - 1.0
42 St - Grand Central : Grand Central - 42 St - 1.0
42 St - Grand Central : Grand Central - 42 St - 1.0
42 St - Grand Central : Grand Central - 42 St - 1.0
42 St - Grand Central : Grand Central - 42 St - 1.0
42 St - Grand Central : Grand Central - 42 St - 1.0
50 St : 50 St - 1
50 St : 50 St - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Herald Sq : 34 St - Herald Sq - 1
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
14 St - Union Sq : Union Sq - 14 St - 1.0
14 St - Union Sq : Union Sq - 14 St - 1.0
14 St - Union Sq : 14 St - Union Sq - 1
14 St - Union Sq : 14 St - Union Sq - 1
14 St - Union Sq : 14 St - Union Sq - 1
14 St - Union Sq : 14 St - Union Sq - 1
14 St - Union Sq : 14 St - Union Sq - 1
14 St - Union Sq : 14 St - Union Sq - 1
14 St - Union Sq : 14 St - Union Sq - 1
14 St - Union Sq : 14 St - Union Sq - 1
14 St - 8 Av : 14 St - 0.8833333333333334
14 St - 8 Av : 14 St - 0.8833333333333334
14 St - 8 Av : 14 St - 0.8833333333333334
14 St - 8 Av : 14 St - 0.8833333333333334
14 St - 8 Av : 14 St - 0.8833333333333334
14 St - 8 Av : 14 St - 0.8833333333333334
8 Av - 14 St : 8 Av - 0.8666666666666666
8 Av - 14 St : 8 Av - 0.8666666666666666
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
34 St - Penn : 34 St - Penn Station - 0.92
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
Times Sq - 42 St : Times Sq - 42 St - 1
47-50 St - Rockefeller Ctr : 47-50 Sts - Rockefeller Ctr - 0.9925925925925926
47-50 St - Rockefeller Ctr : 47-50 Sts - Rockefeller Ctr - 0.9925925925925926
47-50 St - Rockefeller Ctr : 47-50 Sts - Rockefeller Ctr - 0.9925925925925926
47-50 St - Rockefeller Ctr : 47-50 Sts - Rockefeller Ctr - 0.9925925925925926
47-50 St - Rockefeller Ctr : 47-50 Sts - Rockefeller Ctr - 0.9925925925925926
47-50 St - Rockefeller Ctr : 47-50 Sts - Rockefeller Ctr - 0.9925925925925926
47-50 St - Rockefeller Ctr : 47-50 Sts - Rockefeller Ctr - 0.9925925925925926
47-50 St - Rockefeller Ctr : 47-50 Sts - Rockefeller Ctr - 0.9925925925925926
66 St - Lincoln Center : 66 St - Lincoln Center - 1
66 St - Lincoln Center : 66 St - Lincoln Center - 1
72 St : 72 St - 1
72 St : 72 St - 1
72 St : 72 St - 1
72 St : 72 St - 1
72 St : 72 St - 1
72 St : 72 St - 1
42 St - Grand Central : Grand Central - 42 St - 1.0
42 St - Grand Central : Grand Central - 42 St - 1.0
Lexington Av / 53 St : Lexington Av/53 St - 0.9577777777777777
Lexington Av / 53 St : Lexington Av/53 St - 0.9577777777777777
Lexington Av / 53 St : Lexington Av/53 St - 0.9577777777777777
Lexington Av / 53 St : Lexington Av/53 St - 0.9577777777777777
96 St / 2 Av : 96 St - 0.8833333333333334
86 St / 2 Av : 86 St - 0.8833333333333334
86 St / 2 Av : 86 St - 0.8833333333333334
72 St / 2 Av : 72 St - 0.8833333333333334
72 St / 2 Av : 72 St - 0.8833333333333334
86 St : 86 St - 1
86 St : 86 St - 1
86 St : 86 St - 1
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
28 St : 28 St - 1
59 St - Columbus Cir : 59 St - Columbus Circle - 0.9739130434782608
57 St - 7 Av : 57 St - 7 Av - 1
57 St - 7 Av : 57 St - 7 Av - 1
57 St - 7 Av : 57 St - 7 Av - 1
57 St - 7 Av : 57 St - 7 Av - 1
57 St - 7 Av : 57 St - 7 Av - 1
57 St - 7 Av : 57 St - 7 Av - 1
57 St - 7 Av : 57 St - 7 Av - 1
57 St - 7 Av : 57 St - 7 Av - 1
68 St / Hunter College : 68 St - Hunter College - 0.9818181818181818
68 St / Hunter College : 68 St - Hunter College - 0.9818181818181818
42 St - Port Authority Bus Terminal : 42 St - Port Authority Bus Terminal - 1
42 St - Port Authority Bus Terminal : 42 St - Port Authority Bus Terminal - 1
42 St - Port Authority Bus Terminal : 42 St - Port Authority Bus Terminal - 1
42 St - Port Authority Bus Terminal : 42 St - Port Authority Bus Terminal - 1
42 St - Port Authority Bus Terminal : 42 St - Port Authority Bus Terminal - 1
42 St - Port Authority Bus Terminal : 42 St - Port Authority Bus Terminal - 1
42 St - Port Authority Bus Terminal : 42 St - Port Authority Bus Terminal - 1
42 St - Port Authority Bus Terminal : 42 St - Port Authority Bus Terminal - 1
42 St - Port Authority Bus Terminal : 42 St - Port Authority Bus Terminal - 1
42 St - Port Authority Bus Terminal : 42 St - Port Authority Bus Terminal - 1
42 St - Port Authority Bus Terminal : 42 St - Port Authority Bus Terminal - 1
42 St - Port Authority Bus Terminal : 42 St - Port Authority Bus Terminal - 1
23 St : 23 St - 1
23 St : 23 St - 1
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Atlantic Av-Barclays Ctr : Atlantic Av - Barclays Ctr - 0.9429487179487179
Brooklyn Bridge - City Hall : Brooklyn Bridge - City Hall - 1
Brooklyn Bridge - City Hall : Brooklyn Bridge - City Hall - 1
Brooklyn Bridge - City Hall : Brooklyn Bridge - City Hall - 1
Brooklyn Bridge - City Hall : Brooklyn Bridge - City Hall - 1
Brooklyn Bridge - City Hall : Brooklyn Bridge - City Hall - 1
Brooklyn Bridge - City Hall : Brooklyn Bridge - City Hall - 1
Borough Hall : Borough Hall - 1
Borough Hall : Borough Hall - 1
Borough Hall : Borough Hall - 1
Borough Hall : Borough Hall - 1
Flatbush Av Brooklyn College : Flatbush Av - Brooklyn College - 0.958095238095238
Flatbush Av Brooklyn College : Flatbush Av - Brooklyn College - 0.958095238095238
Flatbush Av Brooklyn College : Flatbush Av - Brooklyn College - 0.958095238095238
Flatbush Av Brooklyn College : Flatbush Av - Brooklyn College - 0.958095238095238
Church Av : Church Av - 1
Church Av : Church Av - 1
Church Av : Church Av - 1
Church Av : Church Av - 1
Crown Hts - Utica Av : Crown Hts - Utica Av - 1
Crown Hts - Utica Av : Crown Hts - Utica Av - 1
Crown Hts - Utica Av : Crown Hts - Utica Av - 1
Crown Hts - Utica Av : Crown Hts - Utica Av - 1
Canal St : Canal St - 1
Canal St : Canal St - 1
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
Broadway-Lafayette/Bleecker St : Broadway-Lafayette St - 0.9400000000000001
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
Chambers St : Chambers St - 1
Chambers St : Chambers St - 1
Chambers St : Chambers St - 1
Chambers St : Chambers St - 1
Chambers St : Chambers St - 1
Chambers St : Chambers St - 1
Franklin Av : Franklin Av - 1
Euclid Av : Euclid Av - 1
Euclid Av : Euclid Av - 1
Euclid Av : Euclid Av - 1
Euclid Av : Euclid Av - 1
Utica Av : Utica Av - 1
Utica Av : Utica Av - 1
Utica Av : Utica Av - 1
Utica Av : Utica Av - 1
Dekalb Av : DeKalb Av - 0.9407407407407408
Dekalb Av : DeKalb Av - 0.9407407407407408
Dekalb Av : DeKalb Av - 0.9407407407407408
Dekalb Av : DeKalb Av - 0.9407407407407408
Dekalb Av : DeKalb Av - 0.9407407407407408
Dekalb Av : DeKalb Av - 0.9407407407407408
Church Av : Church Av - 1
Church Av : Church Av - 1
Church Av : Church Av - 1
Church Av : Church Av - 1
Bay Parkway : Bay Pkwy - 0.9454545454545455
Bay Parkway : Bay Pkwy - 0.9454545454545455
Prospect Park : Prospect Park - 1
Prospect Park : Prospect Park - 1
Prospect Park : Prospect Park - 1
Prospect Park : Prospect Park - 1
Marcy Av : Marcy Av - 1
Marcy Av : Marcy Av - 1
Marcy Av : Marcy Av - 1
Marcy Av : Marcy Av - 1
Marcy Av : Marcy Av - 1
Marcy Av : Marcy Av - 1
Flushing Av : Flushing Av - 1
Flushing Av : Flushing Av - 1
Flushing Av : Flushing Av - 1
Flushing Av : Flushing Av - 1
Myrtle Av / Wyckoff Av : Myrtle - Wyckoff Avs - 0.8880808080808081
Myrtle Av / Wyckoff Av : Myrtle - Wyckoff Avs - 0.8880808080808081
Myrtle Av / Wyckoff Av : Myrtle - Wyckoff Avs - 0.8880808080808081
Myrtle Av / Wyckoff Av : Myrtle - Wyckoff Avs - 0.8880808080808081
Myrtle Av / Wyckoff Av : Myrtle - Wyckoff Avs - 0.8880808080808081
Myrtle Av / Wyckoff Av : Myrtle - Wyckoff Avs - 0.8880808080808081
Myrtle Av / Wyckoff Av : Myrtle - Wyckoff Avs - 0.8880808080808081
Myrtle Av / Wyckoff Av : Myrtle - Wyckoff Avs - 0.8880808080808081
Lexington Av / 63 St : Lexington Av/63 St - 0.9577777777777777
Lexington Av / 63 St : Lexington Av/63 St - 0.9577777777777777
Lexington Av / 63 St : Lexington Av/63 St - 0.9577777777777777
Lexington Av / 63 St : Lexington Av/63 St - 0.9577777777777777
Roosevelt Island : Roosevelt Island - 1
Roosevelt Island : Roosevelt Island - 1
21 St - Queensbridge : 21 St - Queensbridge - 1
21 St - Queensbridge : 21 St - Queensbridge - 1
Jamaica - Van Wyck : Jamaica - Van Wyck - 1
Jamaica - Van Wyck : Jamaica - Van Wyck - 1
Sutphin Blvd - Archer Av - JFK Airport : Sutphin Blvd - Archer Av - JFK Airport - 1
Sutphin Blvd - Archer Av - JFK Airport : Sutphin Blvd - Archer Av - JFK Airport - 1
Sutphin Blvd - Archer Av - JFK Airport : Sutphin Blvd - Archer Av - JFK Airport - 1
Sutphin Blvd - Archer Av - JFK Airport : Sutphin Blvd - Archer Av - JFK Airport - 1
Sutphin Blvd - Archer Av - JFK Airport : Sutphin Blvd - Archer Av - JFK Airport - 1
Sutphin Blvd - Archer Av - JFK Airport : Sutphin Blvd - Archer Av - JFK Airport - 1
Jamaica Center Parsons/Archer : Jamaica Center - Parsons/Archer - 0.9870967741935484
Jamaica Center Parsons/Archer : Jamaica Center - Parsons/Archer - 0.9870967741935484
Jamaica Center Parsons/Archer : Jamaica Center - Parsons/Archer - 0.9870967741935484
Jamaica Center Parsons/Archer : Jamaica Center - Parsons/Archer - 0.9870967741935484
Jamaica Center Parsons/Archer : Jamaica Center - Parsons/Archer - 0.9870967741935484
Jamaica Center Parsons/Archer : Jamaica Center - Parsons/Archer - 0.9870967741935484
Flushing Main St : Flushing - Main St - 0.9527777777777777
Flushing Main St : Flushing - Main St - 0.9527777777777777
61 St - Woodside : Woodside - 61 St - 1.0
61 St - Woodside : Woodside - 61 St - 1.0
61 St - Woodside : Woodside - 61 St - 1.0
61 St - Woodside : Woodside - 61 St - 1.0
61 St - Woodside : Woodside - 61 St - 1.0
61 St - Woodside : Woodside - 61 St - 1.0
Jackson Hts - Roosevelt Av : Jackson Hts - Roosevelt Av - 1
Jackson Hts - Roosevelt Av : Jackson Hts - Roosevelt Av - 1
Jackson Hts - Roosevelt Av : Jackson Hts - Roosevelt Av - 1
Jackson Hts - Roosevelt Av : Jackson Hts - Roosevelt Av - 1
Jackson Hts - Roosevelt Av : Jackson Hts - Roosevelt Av - 1
Jackson Hts - Roosevelt Av : Jackson Hts - Roosevelt Av - 1
Jackson Hts - Roosevelt Av : Jackson Hts - Roosevelt Av - 1
Jackson Hts - Roosevelt Av : Jackson Hts - Roosevelt Av - 1
Jackson Hts - Roosevelt Av : Jackson Hts - Roosevelt Av - 1
Jackson Hts - Roosevelt Av : Jackson Hts - Roosevelt Av - 1
Jackson Hts - Roosevelt Av : Jackson Hts - Roosevelt Av - 1
Jackson Hts - Roosevelt Av : Jackson Hts - Roosevelt Av - 1
74 St - Broadway / Roosevelt Av : 74 St - Broadway - 0.9032258064516129
Junction Blvd : Junction Blvd - 1
Junction Blvd : Junction Blvd - 1
Queens Plaza : Queens Plaza - 1
Queens Plaza : Queens Plaza - 1
Queens Plaza : Queens Plaza - 1
Queens Plaza : Queens Plaza - 1
Queens Plaza : Queens Plaza - 1
Queens Plaza : Queens Plaza - 1
179 St - Jamaica : Jamaica - 179 St - 1.0
179 St - Jamaica : Jamaica - 179 St - 1.0
Kew Gardens / Union Tpk : Kew Gardens - Union Tpke - 0.9746376811594203
Kew Gardens / Union Tpk : Kew Gardens - Union Tpke - 0.9746376811594203
Kew Gardens / Union Tpk : Kew Gardens - Union Tpke - 0.9746376811594203
Kew Gardens / Union Tpk : Kew Gardens - Union Tpke - 0.9746376811594203
Forest Hills - 71 Av : Forest Hills - 71 Av - 1
Forest Hills - 71 Av : Forest Hills - 71 Av - 1
Forest Hills - 71 Av : Forest Hills - 71 Av - 1
Forest Hills - 71 Av : Forest Hills - 71 Av - 1
Forest Hills - 71 Av : Forest Hills - 71 Av - 1
Forest Hills - 71 Av : Forest Hills - 71 Av - 1
Forest Hills - 71 Av : Forest Hills - 71 Av - 1
Forest Hills - 71 Av : Forest Hills - 71 Av - 1
Lexington Av / 63 St : Lexington Av/63 St - 0.9577777777777777
Lexington Av / 63 St : Lexington Av/63 St - 0.9577777777777777
Lexington Av / 63 St : Lexington Av/63 St - 0.9577777777777777

In [278]:
ee[(ee.stop_ids == '') & (ee.station == 'Broadway-Lafayette/Bleecker St')] = '637N, 637S'

In [267]:
# for index, row in ee.iterrows():
#     if row.stop_ids == '':
#         subset = platforms[platforms.routes_wkd.str.contains(row.line)]
#         if subset.shape[0] > 0:
#             subset_stop_names = pd.DataFrame(subset.stop_name.unique(),columns=['stop_name'])
#             name_dist = [textdistance.jaro_winkler(row.station,y) for y in subset_stop_names.stop_name]
#             matched_station_name = subset_stop_names.iloc[np.argmax(name_dist),0]
#             matched_stop_ids = subset[subset.stop_name == matched_station_name][['stop_id']]
#             score = max(name_dist)
#             if score > 0.5:
# #                 ee.iloc[index,5] = ', '.join(matched_stop_ids.stop_id)
#                 print('{} : {} - {}'.format(row.station,matched_station_name,score))

Broadway-Lafayette/Bleecker St : Brooklyn Bridge - City Hall - 0.535707502374169
Broadway-Lafayette/Bleecker St : Brooklyn Bridge - City Hall - 0.535707502374169
Broadway-Lafayette/Bleecker St : Brooklyn Bridge - City Hall - 0.535707502374169
Broadway-Lafayette/Bleecker St : Brooklyn Bridge - City Hall - 0.535707502374169
Broadway-Lafayette/Bleecker St : Brooklyn Bridge - City Hall - 0.535707502374169
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
West 4 St - Washington Sq : W 4 St - Wash Sq - 0.79825
Jackson Hts - Roosevelt Av : 82 St - Jackson Hts - 0.6733299595141701
Jackson Hts - Roosevelt Av : 82 St - Jackson Hts - 0.6733299595141701
New Utrecht : 42 St - Bryant Pk - 0.5329768270944741
New Utrecht : 42 St - Bryant Pk - 0.5329768270944741
Kings Highway : Kingston - Throop Avs - 0.6239316239316239

In [279]:
ee[ee.stop_ids == ''].shape[0]/ee.shape[0]

0.025134649910233394

In [282]:
ee.head()

  Unnamed: 0 equipment_id line  direction          station    stop_ids
0        230        EL103    1      south           191 St  110N, 110S
1         21        EL103    1      north           191 St  110N, 110S
2        185        EL122    6  manhattan  Pelham Bay Park  601N, 601S
3         18        EL124    A      north           175 St  A07N, A07S
4        628        EL126    5      south           125 St  621N, 621S

In [301]:
pattern = re.compile('.*N')
[pattern.match(x) for x in ee.stop_ids[0].split(',')]
# [re.findall('N',x) for x in ee.stop_ids[0].split(',')]

[<_sre.SRE_Match object; span=(0, 4), match='110N'>, None]

In [305]:
[x for x in ee.stop_ids[0].split(', ') if re.match('.*N$',x)]

['110N']

'S'

In [338]:
def get_dir(df):
#     print(df)
    matches = [x for x in df.stop_ids.split(', ') if re.match('.*{}$'.format(df.direction[0].upper()),x)]
    if matches:
        return matches[0]
    else: 
        return 'NULL'

In [340]:
ee['stop_id'] = ee.apply(get_dir,axis=1)

In [343]:
ee.rename(columns={'stop_ids':'possible_stops'},inplace=True)

In [344]:
ee.to_csv('../../data/processed/elevator_to_GTFS_KM.csv')