In [1]:
import pandas as pd
import numpy as np
import os
import sys
sys.path.append('/content/jupyter/mta-accessibility')
from src.data import process_turnstile
from ast import literal_eval
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_pickle('../../data/processed/all_turnstiles_with_outage.pkl.gz')

In [3]:
df.head()

,datetime,UNIT,equipment_id,station_name,Percentage,entry_diff_abs,exit_diff_abs,Planned Outage,subway_lines
0,2019-01-01,R001,EL731,South Ferry,0.0,1612.0,1734.0,NaN,1
1,2019-01-01,R001,ES373,South Ferry,0.0,1612.0,1734.0,NaN,1
2,2019-01-01,R001,ES369,South Ferry,0.0,1612.0,1734.0,NaN,1
3,2019-01-01,R001,ES375,South Ferry,0.0,1612.0,1734.0,NaN,1
4,2019-01-01,R001,ES370,South Ferry,0.0,1612.0,1734.0,NaN,1

In [7]:
df.station_name.unique()

126

In [8]:
df_interpolated = pd.read_pickle('../../data/processed/interpolated_data.pkl.gz')

In [9]:
df_interpolated.head()

,LINENAME,STATION,UNIT,SCP,index,ENTRIES,EXITS,entry_diff,exit_diff,entry_diff_abs,exit_diff_abs,time_diffs
datetime,,,,,,,,,,,,
2019-01-01 03:00:00,1,125 ST,R034,00-00-00,89427.0,639382699.0,3.196906e+08,79.0,107.0,79.0,107.0,4.0
2019-01-01 04:00:00,1,125 ST,R034,00-00-00,89427.0,639382705.0,3.196906e+08,79.0,107.0,79.0,107.0,4.0
2019-01-01 05:00:00,1,125 ST,R034,00-00-00,89427.0,639382711.0,3.196906e+08,79.0,107.0,79.0,107.0,4.0
2019-01-01 06:00:00,1,125 ST,R034,00-00-00,89427.0,639382717.0,3.196906e+08,79.0,107.0,79.0,107.0,4.0
2019-01-01 07:00:00,1,125 ST,R034,00-00-00,94934.0,639382723.0,3.196906e+08,24.0,35.0,24.0,35.0,4.0

In [2]:
clean_turn = pd.read_pickle('../../data/processed/cleaned_turnstile_data_2019.pkl.gz')

In [3]:
clean_turn.head()

,datetime,C/A,DESC,DIVISION,ENTRIES,EXITS,LINENAME,SCP,STATION,UNIT,entry_diff,exit_diff,entry_diff_abs,exit_diff_abs,time_diffs
86198,2019-01-01,N095,REGULAR,IND,1179754,746536,ACJZ2345,00-03-07,FULTON ST,R014,22.0,58.0,22.0,58.0,4.0
86199,2019-01-01,R639,REGULAR,IRT,21930687,2308213,25,00-00-03,CHURCH AV,R109,271.0,68.0,271.0,68.0,4.0
86200,2019-01-01,N530,REGULAR,IND,14953428,7013073,F,00-00-01,YORK ST,R301,159.0,344.0,159.0,344.0,4.0
86201,2019-01-01,R639,REGULAR,IRT,50333402,16777216,25,00-05-00,CHURCH AV,R109,0.0,0.0,0.0,0.0,4.0
86202,2019-01-01,N120A,REGULAR,IND,2901395,1599171,AC,01-00-00,UTICA AV,R153,125.0,226.0,125.0,226.0,4.0